.input {
    position: relative;
    display: inline-block;
    min-height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    overflow: hidden;
    padding-top: 1rem;
}

.input svg {
    padding-left: 1rem;
}

.input_element {
    min-height: 100%;
    width: 100%;
    padding: 0 .7rem;
    background-color: var(--bg-second);
    color: var(--white-color);
    font-size: 1.3rem;
    border: none;
}

.input:focus-within {
    border: 1px solid #2762ca;
}

.input_element::placeholder {
    opacity: .5;
}

.input_element:focus::placeholder {
    opacity: .8;
}

.input_none {
    border: none;
}